html {
    min-height: 100%;
    position: relative;
}

.footer {
    margin: 0;
    
    width: 100%;
    background-color: #05235b;    
    color: white;
    
}
.footer a
{
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    margin-top: 10px;
    
}



